*{
    margin: 0px;
    padding: 0px;
    font: 14px Tahoma;
}

h1{
    font: bold 24px Tahoma;
}

h2{
    font: bold 16px Tahoma;
}

section, footer, aside, nav, article, hgroup{
    display: block;
}

header{
    display: inline-block;
}

input[type="text"], input[type="password"]{
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2px;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
    border-color: rgba(0, 102, 153, .25);
    box-shadow: 0 0 10px rgba(0, 102, 153, .25);
}

input[type="text"]:hover, input[type="password"]:hover{
    outline: none;
    border-color: rgba(0, 51, 102, .5);
    box-shadow: 0 0 10px rgba(0, 51, 102, .5);
}

input[type="text"]:focus:hover, input[type="password"]:focus:hover{
    outline: none;
    border-color: rgba(0, 51, 102, .5);
    box-shadow: 0 0 10px rgba(0, 51, 102, .5);
}

#top_header{
    overflow: hidden;
    zoom: 1;
    padding: 10px 5px 20px 5px;
}

body{
    background: #CCC;
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}

#big_wrapper{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #CCC;
    background-image: -moz-linear-gradient(#CCC, #AAA);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#AAA));
}

#login{
    display: inline-block;
    float: right;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-top: 5px; 
    display: block;
    background: gainsboro;
    width: 250px;
    height: 125px;
    box-shadow: 1px 1px 15px 5px #999;
    -moz-box-shadow: 1px 1px 15px 5px #999;
    -webkit-box-shadow: 1px 1px 15px 5px #999;
}

#login_text{
    text-align: center;
    margin: 10px 0px 10px 0px;
}

#password_text{
    text-align: center;
    margin: 10px 0px 0px 2px;
}

#login_button{
    margin: 10px 5px 0px 13px;
    float: left;
}

#logout_button{
    margin: 15px 0px 0px 70px;
    float: left;
}

#signup_button{
    margin: 10px 0px 0px 5px;
    float: left;
}

.button_login{
    width: 100px;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    margin: 5px 0px 5px 5px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border: 1px solid #555;
    float: left;
    clear: both;
    background-color: #444;
    background-image: -moz-linear-gradient(#444, #222);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
    box-shadow: 2px 2px 5px 0px #777;
    -moz-box-shadow: 2px 2px 5px 0px #777;
    -webkit-box-shadow: 2px 2px 5px 0px #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
 
.button_login:hover{
    text-decoration: none;
    background-color: #69F;
    background-image: -moz-linear-gradient(#036, #039);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#036), to(#039));
    box-shadow: 2px 2px 5px 0px #777;
    -moz-box-shadow: 2px 2px 5px 0px #777;
    -webkit-box-shadow: 2px 2px 5px 0px #777;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

table.signup_form {
    margin: 10px 0px 10px 50px;
}

table.signup_form tr{
    padding: 5px;
}

table.signup_form td{
    padding: 5px;
}

#nav{
    background: #036;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#nav li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px 5px 20px;
}

#nav li a{
    font: bold 20px Tahoma;
    text-decoration-color: white;
}

#nav li a:link, #nav li a:visited, #nav li a:active{
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    text-decoration: underline;
}

#content{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

#main_section{
    -webkit-box-flex: 1;
    margin: 10px;
    padding: 10px;
}

#main_section article{
    border: 2px solid #036;
    -webkit-box-flex: 1;
    margin: 10px;
    padding: 10px;
    background: #EEE;
}

#main_section article h2{
    font: 18px Tahoma;
    margin-bottom: 10px;
    color: #036;
}

#main_section article p{
    font: 14px Tahoma;
    margin: 0px 15px;
    text-align: justify;
    margin-bottom: 15px;
}

#main_section article footer{
    font: 10px Tahoma;
    text-align: right;
    margin-top: 20px;
}

#side_section{
    width: 250px;
    margin: 20px 0px;
    padding: 10px;
}

#side_section .banner{
    background: #036;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#side_section .banner p{
    font: bold 16px Tahoma;
    color: white;
    padding-left: 80px; 
}

#side_section article {
    border: 1px solid #036;
    -webkit-box-flex: 1;
    margin: 10px;
    padding: 10px;
    background: #EEE;
}

#side_section article h2{
    font: 18px Tahoma;
    margin-bottom: 10px;
    color: #036;
}

#side_section article p{
    font: 14px Tahoma;
    margin: 0px 15px;
    text-align: justify;
}

#footer{
    text-align: center;
    padding: 20px;
    border-top: 2px solid green;
}